@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 680px;
        margin: 0 auto;
    }

    .todos_div:hover {
      background-color: rgb(204, 50, 136);
      transform: scale(1.01); 
  }
}